{% extends 'base.html' %}
{% block body %}
<div>

  <h3>Add A New Player</h3>

  <form method="POST" action="{{ url_for('add_player') }}">

    {{ form.csrf_token }}
    {{ form.first_name.label }} {{ form.first_name(size=20) }}
    {{ form.last_name.label }} {{ form.last_name(size=20) }}
    {{ form.hometown.label }} {{ form.hometown(size=20) }}
    {{ form.team.label }} {{ form.team(size=20) }}
    {{ form.player_number.label }} {{ form.player_number(size=20) }}


    <input type="submit" value="Add Player">

  </form>

</div>
{% endblock %}