{% extends 'base.html' %}

{%block body %}
<form method="POST">
  <input type="text" autofocus="autofocus" name="search_string">
  <input type="submit" formaction="/search" value="Search">
</form>


<p><a href="{{ url_for('add_player')}}"> Add a new player</a></p>

{% with messages = get_flashed_messages() %}
 {% if messages %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
   {% for message in messages %}
   <strong>Alert!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   {% endfor %}
   {% endif %}
   {% endwith %}
 </div>
{% if players %}
    <table>
        <thread>
            <tr>
                <th>First Name</th>
                <th>Team</th>

            </tr>
        </thread>

        <tbody>
            {%for row in players%}
            <tr>
                <td> {{ row.first_name }} </td>
                <td> {{ row.team }} </td>
                <td>
                        <form action="{{ url_for('get_player', player_id=row.playerId) }}" method="POST">
                          <input type="submit" value="Details" class="btn btn-info" />
                        </form>
                      </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
