  
{% extends 'base.html' %}
{% block body %}
<div>
<p><a href="{{ url_for('index')}}"> Home </a></p>
  <h3>{{ legend }}</h3>



{% if form %}
  <form method="POST" action="">

    {{ form.csrf_token }}
    {{ form.playerId.label}} {{ form.playerId }}
    {{ form.first_name.label }} {{ form.first_name }}
    {{ form.last_name.label }} {{ form.last_name }}
    {{ form.hometown.label }} {{ form.hometown }}
    {{ form.team.label }} {{ form.team }}
    {{ form.player_number.label }} {{ form.player_number }}

    <input type="submit" formaction="{{url_for('delete_player', player_id=form.playerId)}}" value="Delete">
    <input type="submit" formaction="{{url_for('update_player', player_id=form.playerId)}}" value="Update">



  </form>
{% endif %}
</div>
{% endblock %}