  
{% extends 'base.html' %}
{% block body %}
<div>
<p><a href="{{ url_for('index')}}"> Home </a></p>
  <h3>{{ legend }}</h3>

  {% with messages = get_flashed_messages() %}
   {% if messages %}
   <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
     {% for message in messages %}
     <strong>Alert!</strong> {{ message }}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
     {% endfor %}
     {% endif %}
     {% endwith %}
   </div>


{% if form %}
  <form method="POST">

    {{ form.csrf_token }}

    {{ form.first_name.label }} {{ form.first_name }}
    {{ form.last_name.label }} {{ form.last_name }}
    {{ form.hometown.label }} {{ form.hometown }}
    {{ form.team.label }} {{ form.team }}
    {{ form.player_number.label }} {{ form.player_number }}

    <input type="submit" formaction="{{url_for('delete_player', player_id=form.playerId)}}" value="Delete">



  </form>
{% endif %}
</div>
{% endblock %}