  
{% extends 'base.html' %}
{% block body %}
<div>

  <h3>{{ legend }}</h3>

  <form method="POST" action="">

    {{ form.csrf_token }}
    {{ form.playerId.label }} {{ form.playerId(size=5, readonly=true) }}
    {{ form.first_name.label }} {{ form.first_name }}
    {{ form.last_name.label }} {{ form.last_name }}
    {{ form.hometown.label }} {{ form.hometown }}
    {{ form.team.label }} {{ form.team }}
    {{ form.player_number.label }} {{ form.player_number }}

    <input type="submit" value="Save">

  </form>

</div>
{% endblock %}